<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>添加到数据库</title>
</head>
<body>
<form method="POST" action="/db/add_post">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" name="title" value=""></td>
        </tr>
        <tr>
            <td>body</td>
            <td><textarea name="body"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>
</body>
</html>